/* Tiny MCE styles */

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1, h2, h3 { margin-bottom: 12px; }
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
.lead { font-size: 24px; }
p, ul, ol {
  font-size: 14px;
  margin-bottom: 24px;
}
.text-lg { font-size: 16px !important; }
.text-sm { font-size: 12px !important; }
.text-xs { font-size: 10px !important; }
.text-uppercase { text-transform: uppercase; }
.text-semibold { font-weight: 600 !important; }
.text-bold { font-weight: bold !important; }
.text-normal { font-weight: normal !important; }
.text-thin { font-weight: 300 !important; }

/* Contextual colors */
.text-default { color: #000000; }
.text-primary { color: #3f6bbe; }
.text-info { color: #4eabff; }
.text-success { color: #5bc460; }
.text-warning { color: #a9db23; }
.text-danger { color: #e63030; }
.text-muted { color: #e5e5e5; }
.text-gray { color: #808080; }
.text-light,
.text-white { color: #e5e5e5 !important; }

/* Contextual backgrounds */
.bg-default,
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-gray { color: #ffffff !important; }
.bg-default { background-color: #000000; }
.bg-primary { background-color: #3f6bbe; }
.bg-info { background-color: #4eabff; }
.bg-success { background-color: #5bc460; }
.bg-warning { background-color: #a9db23; }
.bg-danger { background-color: #e63030; }
.bg-gray { background-color: #808080; }
.bg-muted {
  color: #4c4c4c !important;
  background-color: #e5e5e5;
}
ul li, ol li { margin-bottom: 12px; }
ul.text-sm li,
ol.text-sm li
ul.text-xs li,
ol.text-xs li { margin-bottom: 8px; }

ol.list-bordered li,
ul.list-bordered li {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(63,107,190,0.25);
}
ol.list-bordered.text-sm li,
ul.list-bordered.text-sm li {
  margin-bottom: 16px;
}
ol.list-bordered.text-xs li,
ul.list-bordered.text-xs li {
  margin-bottom: 12px;
}
ol.list-unstyled,
ul.list-unstyled { padding: 0; }
ol.list-unstyled li,
ul.list-unstyled li {
  padding: 0;
  list-style: none;
  border: none;
  margin-bottom: 12px;
}
ol.list-unstyled.text-sm li,
ul.list-unstyled.text-sm li,
ol.list-unstyled.text-xs li,
ul.list-unstyled.text-xs li { margin-bottom: 8px; }

/* Opacity scale */
.opacity-25 { opacity: .25; }
.opacity-50 { opacity: .5; }
.opacity-75 { opacity: .75; }
